In [1]:
import pandas as pd
import numpy as np

In [2]:
V = pd.read_csv("/home/jorge/tfm-jvm/data/tables/base_village.csv")
V.head()

   id_v   x    y    grid
0     0  54  -91  393746
1     1 -28  -62  370435
2     2  54  -91  393746
3     3 -63  100  240638
4     4 -63  100  240638

### Add Variables

In [3]:
%%time
V["norm2"] = V[["x", "y"]].apply(lambda x: np.linalg.norm((x[0], x[1])), axis=1)

CPU times: user 42.8 s, sys: 256 ms, total: 43.1 s
Wall time: 43.2 s

In [4]:
V.head()

   id_v   x    y    grid       norm2
0     0  54  -91  393746  105.815878
1     1 -28  -62  370435   68.029405
2     2  54  -91  393746  105.815878
3     3 -63  100  240638  118.190524
4     4 -63  100  240638  118.190524

In [5]:
V.to_csv("/home/jorge/tfm-jvm/data/tables/V.csv", index=False)