In [1]:
import pandas as pd
from pyspark import SparkContext, SparkConf
from ast import literal_eval
import json
from datetime import datetime, timedelta

## Open Raw

In [2]:
%%time
f = open("/home/jorge/tfm-jvm/data/raw/data.json")
data = json.load(f)
f.close()
del f

CPU times: user 16.4 s, sys: 1.9 s, total: 18.3 s
Wall time: 18.9 s

In [3]:
data = data["docs"]

In [5]:
len(data)

2114567

In [8]:
data[2001]

{'_id': '1001801/04/2020https://tx10.asia.travian.comp',
 '_rev': '14-c093d3eece65c824b23ebaaa6086d68f',
 'type': 'player',
 'id_p': 10018,
 'name_p': [['Archon', '06/04/2020']],
 'id_a': [[570, '06/04/2020'],
  [140, '07/04/2020'],
  [812, '13/04/2020'],
  [505, '15/04/2020'],
  [0, '18/04/2020']],
 'last_day': '19/04/2020',
 'id_s': '01/04/2020https://tx10.asia.travian.com'}

In [15]:
p = [x for x in data if x["type"] == "player"]

In [16]:
p[0]

{'_id': '1000001/04/2020https://tx10.asia.travian.comp',
 '_rev': '15-6eb10ee5a3a7a699fbb7259e9eb31c73',
 'type': 'player',
 'id_p': 10000,
 'name_p': [['Vov2000', '06/04/2020']],
 'id_a': [[0, '06/04/2020']],
 'last_day': '21/04/2020',
 'id_s': '01/04/2020https://tx10.asia.travian.com'}

In [ ]:
def split(a, n):
    k, m = divmod(len(a), n)
    return list(a[i * k + min(i, m):(i + 1) * k + min(i + 1, m)] for i in range(n))

In [ ]:
datas = split(data,100)
del data

## Clean it

### Get Servers

In [7]:
def get_server(x):
    server = {
        "_id":x["_id"],
        "start_day":x["start_day"],
        "last_day":x["last_day"],
        "version":x["version"],
        "speed":x["speed"],
        "id_country":x["id_country"],
        "square": (lambda x: True if (x["size"]["width"] == x["size"]["height"]) else False)(x),
        "territory":x["game_flags"]["territory"]
    }
    return server

In [8]:
%%time
s = [get_server(x) for x in data if x["type"] == "server"]

CPU times: user 461 ms, sys: 0 ns, total: 461 ms
Wall time: 461 ms

In [9]:
s[10]

{'_id': '02/04/2020https://tx3.travian.pl',
 'start_day': '02/04/2020',
 'last_day': '19/04/2020',
 'version': '4.4',
 'speed': '3',
 'id_country': 'pl',
 'square': True,
 'territory': False}

In [10]:
S = pd.DataFrame(s)
S["id_s"] = S.index
S.head()

,_id,start_day,last_day,version,speed,id_country,square,territory,id_s
0,01/04/2020https://tx10.america.travian.com,01/04/2020,21/04/2020,4.4,10,com,True,False,0
1,01/04/2020https://tx10.asia.travian.com,01/04/2020,21/04/2020,4.4,10,com,True,False,1
2,01/04/2020https://tx10.europe.travian.com,01/04/2020,16/04/2020,4.4,10,com,True,False,2
3,01/04/2020https://tx10.mena.travian.com,01/04/2020,22/04/2020,4.4,10,com,True,False,3
4,01/10/2019https://ts1.travian.jp,01/10/2019,19/04/2020,4.4,1,jp,True,False,4

In [13]:
S.duplicated(subset=["_id"]).value_counts()

False    245
dtype: int64

In [14]:
S.to_csv("/home/jorge/tfm-jvm/data/clean/servers_features.csv", index=False)

In [15]:
del S

### Get Alliances

In [34]:
a = [(lambda x:{"_id":x["_id"], "id_a":x["id_a"], "id_s":x["id_s"]})(x) for x in data if (x["type"] == "alliance" and "last_day" in x and "id_s" in x)]

In [35]:
A = pd.DataFrame(a)
A["no_alliance"] = A["id_a"] == 0
A["id_"] = A.index
A.head()

,_id,id_a,id_s,no_alliance,id_
0,001/04/2020https://tx10.america.travian.coma,0,01/04/2020https://tx10.america.travian.com,True,0
1,001/04/2020https://tx10.asia.travian.coma,0,01/04/2020https://tx10.asia.travian.com,True,1
2,001/04/2020https://tx10.mena.travian.coma,0,01/04/2020https://tx10.mena.travian.com,True,2
3,001/10/2019https://ts1.travian.jpa,0,01/10/2019https://ts1.travian.jp,True,3
4,001/10/2019https://ts2.travian.rua,0,01/10/2019https://ts2.travian.ru,True,4

In [36]:
A.duplicated(subset=["_id"]).value_counts()

False    20914
dtype: int64

In [37]:
A.to_csv("/home/jorge/tfm-jvm/data/clean/alliance_features.csv", index=False)

In [38]:
del A

### Get Players

In [7]:
p = [(lambda x:{"_id":x["_id"], "id_p":x["id_p"], "id_s":x["id_s"]})(x) for x in data if (x["type"] == "player" and "last_day" in x and "id_s" in x)]

In [8]:
P = pd.DataFrame(p)
P["id_"] = P.index
P

,_id,id_p,id_s,id_
0,1000001/04/2020https://tx10.asia.travian.comp,10000,01/04/2020https://tx10.asia.travian.com,0
1,1000013/03/2020https://ts1.travian.com.trp,10000,13/03/2020https://ts1.travian.com.tr,1
2,1000014/03/2020https://ts1.travian.com.trp,10000,14/03/2020https://ts1.travian.com.tr,2
3,1000016/04/2020https://ts20.arabics.travian.comp,10000,16/04/2020https://ts20.arabics.travian.com,3
4,1000016/04/2020https://ts20.travian.com.trp,10000,16/04/2020https://ts20.travian.com.tr,4
...,...,...,...,...
325245,999917/03/2020https://ts1.hispano.travian.comp,9999,17/03/2020https://ts1.hispano.travian.com,325245
325246,999917/03/2020https://ts4.czsk.travian.comp,9999,17/03/2020https://ts4.czsk.travian.com,325246
325247,999919/03/2020https://ts4.lusobrasileiro.travi...,9999,19/03/2020https://ts4.lusobrasileiro.travian.com,325247
325248,999920/03/2020https://ts4.lusobrasileiro.travi...,9999,20/03/2020https://ts4.lusobrasileiro.travian.com,325248
325249,999924/03/2020https://tx3.travian.comp,9999,24/03/2020https://tx3.travian.com,325249

In [41]:
P.duplicated(subset=["_id"]).value_counts()

False    325250
dtype: int64

In [42]:
P.to_csv("/home/jorge/tfm-jvm/data/clean/player_features.csv", index=False)

In [43]:
del P

### Get Player's

### Get Villages

In [4]:
def get_villages(x):
    v = {
        "_id":x["_id"],
        "id_s":x["id_s"],
        "x":x["x"],
        "y":x["y"],
        "grid":x["grid"],
    }
    return v

In [5]:
%%time
v = [get_villages(x) for x in data if (x["type"] == "village" and "last_day" in x and "id_s" in x)]

CPU times: user 904 ms, sys: 62.7 ms, total: 967 ms
Wall time: 970 ms

In [6]:
len(v)

1267686

In [30]:
V = pd.DataFrame(v)
V["id_"] = V.index
V.head()

,_id,id_s,x,y,grid,id_
0,1000001/04/2020https://tx10.america.travian.comv,01/04/2020https://tx10.america.travian.com,54,-91,393746,0
1,1000001/04/2020https://tx10.asia.travian.comv,01/04/2020https://tx10.asia.travian.com,-28,-62,370435,1
2,1000002/04/2020https://tx10.america.travian.comv,02/04/2020https://tx10.america.travian.com,54,-91,393746,2
3,10000023/03/2020https://tx3.travian.comv,23/03/2020https://tx3.travian.com,-63,100,240638,3
4,10000024/03/2020https://tx3.travian.comv,24/03/2020https://tx3.travian.com,-63,100,240638,4

In [31]:
V.duplicated(subset=["_id"]).value_counts()

False    1267686
dtype: int64

In [32]:
V.to_csv("/home/jorge/tfm-jvm/data/clean/villages_features.csv", index=False)

In [33]:
del V

### Get Village's Recs

In [44]:
def yield_rec(x):
    pops = [datetime.strptime(j[1], "%d/%m/%Y").date() for j in x["population"]]
    pop = [j[0] for j in x["population"]]
    players = [datetime.strptime(j[1], "%d/%m/%Y").date() for j in x["id_p"]]
    player = [j[0] for j in x["id_p"]]
    races = [datetime.strptime(j[1], "%d/%m/%Y").date() for j in x["race"]]
    race = [j[0] for j in x["race"]]
    ld = datetime.strptime(x["last_day"], "%d/%m/%Y").date()
    
    fpop = pop.pop(0)
    fplayer = player.pop(0)
    frace = race.pop(0)
    day = pops.pop(0)
    players.pop(0)
    races.pop(0)
    rec = [x["_id"], x["id_s"], fpop, day, fplayer, frace]
    
    recs = []
    while day < ld:
        recs.append(rec[:])
        day = day +  timedelta(days=1)
        rec[3] = day
        
        #Lo gordo
        if day in pops:
            pops.pop(0)
            rec[2] = pop.pop(0)
        if day in players:
            players.pop(0)
            rec[4] = player.pop(0)
        if day in races:
            races.pop(0)
            rec[5] = race.pop(0)
            
        
        
        
    return recs

In [45]:
%%time
recs = [yield_rec(x) for x in data if (x["type"] == "village" and "last_day" in x and "id_s" in x)]

CPU times: user 1min 9s, sys: 596 ms, total: 1min 10s
Wall time: 1min 10s

In [47]:
%%time
frecs = [item for subl in recs for item in subl]

CPU times: user 245 ms, sys: 26 ms, total: 271 ms
Wall time: 270 ms

In [51]:
%%time
Recs = pd.DataFrame(frecs, columns=["_id", "id_s", "pop", "day", "player", "race"])
Recs.head()

CPU times: user 6.84 s, sys: 721 ms, total: 7.56 s
Wall time: 7.59 s

,_id,id_s,pop,day,player,race
0,1000001/04/2020https://tx10.america.travian.comv,01/04/2020https://tx10.america.travian.com,400,2020-04-06,9874,6
1,1000001/04/2020https://tx10.america.travian.comv,01/04/2020https://tx10.america.travian.com,505,2020-04-07,9874,6
2,1000001/04/2020https://tx10.america.travian.comv,01/04/2020https://tx10.america.travian.com,554,2020-04-08,9874,6
3,1000001/04/2020https://tx10.america.travian.comv,01/04/2020https://tx10.america.travian.com,554,2020-04-09,9874,6
4,1000001/04/2020https://tx10.america.travian.comv,01/04/2020https://tx10.america.travian.com,631,2020-04-10,9874,6

In [57]:
Recs.duplicated(subset=["_id", "day"]).value_counts()

False    11269884
dtype: int64

In [58]:
%%time
Recs.to_csv("/home/jorge/tfm-jvm/data/clean/recs_post_raw.csv", index=False)

CPU times: user 27.4 s, sys: 541 ms, total: 28 s
Wall time: 28.1 s